* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

.box {
  position: relative;
  height: 100vh;
  border: 10px solid #FFD700;
  border-radius: 50px;
}

.snap {
  height: 100%;
  width: 100%;
  z-index: 500;
  border-radius: 39px;
}


.layover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 900;
}

.text {
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: 950;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.gold {
  color: #FFD700;
}

.purple {
  color: #F400A1;
}

.blue {
  color: #ABCDEF;
}

.gold-border {
  border: 10px solid #FFD700;
}

.purple-border {
  border: 10px solid #F400A1;
}

.blue-border {
  border: 10px solid #ABCDEF;
}
